proj__gameMechanics/Library/
proj__gameMechanics/Logs/
proj__gameMechanics/Packages/
proj__gameMechanics/Temp/
proj__gameMechanics/UserSettings/

game__SmithAndCraft/Library/
game__SmithAndCraft/Logs/
game__SmithAndCraft/Packages/
game__SmithAndCraft/Temp/
game__SmithAndCraft/UserSettings/