proj__terrainGeneration/Library/
proj__terrainGeneration/Logs/
proj__terrainGeneration/Packages/
proj__terrainGeneration/Temp/
proj__terrainGeneration/UserSettings/

proj__gameMechanics/Library/
proj__gameMechanics/Logs/
proj__gameMechanics/Packages/
proj__gameMechanics/Temp/
proj__gameMechanics/UserSettings/

game__SmithAndBuild/Library/
game__SmithAndBuild/Logs/
game__SmithAndBuild/Packages/
game__SmithAndBuild/Temp/
game__SmithAndBuild/UserSettings/